@font-face{
	font-family: Hero;
	src: url(hero.otf);
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: Hero;
	overflow:hidden;
}

section {
	position: relative;
	top: 32.5vh;
	width:110%;
	left: -5%;	
	text-align: center;
}
.ribbon {
	display: block;	
	background-color:rgba(70,70,70,0.35);	
	text-align: center;		
	padding: 15px 0 15px 0;
	font-size: 27px;	
	color: rgba(30,30,30,.7);
	box-shadow: 0px 0.5px 6px 2px black;	
	text-shadow: .1px .1px 1px black;			
}

.tagline {
	font-size: 1.15em;
	margin: -23px 0 -2.5px 0;
	color: rgba(30,30,30,.95);
	text-shadow: .1px .1px .5px black;			
}

a {	
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url('new100.png') no-repeat center;
	text-indent: -9999px;
}
